body {
    font-family: roboto, sans-serif;
    color: #707070;
  }
  h1 {
    font-size: 60px;
    margin: 20px 0;
  }
  h2, h4 {
    font-size: 25px;
    margin-bottom: 30px;
    color: #000;
  }
 .half-width {
    max-width: 50%;
    float: left;
  }
  .container {
    max-width: 1100px;
    padding: 55px 0;
    margin: auto;
    align-items:stretch;
  }
 
  .service-item {
    max-width: 25%;
    float: left;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0px 15px 20px 15px;
    border-radius: 25px;
  }
