body {
    font-family: roboto, sans-serif;
    color: grey;
  }
  h1 {
    font-size: 58px;
    margin: 21px 0;
  }
  h2, h4 {
    font-size: 25px;
    margin-bottom: 30px;
    color: #000;
  }
 .half-width {
    max-width: 50%;
    float: left;
  }
  .container {
    max-width: 1150px;
    padding: 50px 0;
    clear: both;
    margin: auto;
    align-items:stretch;
  }
 
  .service-item {
    max-width: 23%;
    float: left;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0px 15px 20px 15px;
    border-radius: 25px;
  }
